# MongoDB Configuration
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
# DATABASE_PORT=27017

# Complete Atlas Connection String
MONGODB_URL="mongodb+srv://..."

# Server Configuration
PORT=3020
HOST=0.0.0.0

# CORS
CORS_ORIGIN="*"
